<form id="comment-form">
    <div id="comment-title">Comments</div>

    <input type="text" class="comment-input" placeholder="Your name" id="comment-user-name">
    <input type="text" class="comment-input" placeholder="Email(will not be public)" id="comment-email">
    <textarea id="comment-content" placeholder="Content"></textarea>
    <input type="submit" value="Comment it">
    <input type="hidden" id="post-id" value="<%= result._id %>">
</form>
<ul id="comment-list">

    <% result.comments.forEach(function(comment, i){ %>
    <li class="comment"><img class="comment-header" src="http://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50"><div class="comment-content"><span class="comment-user"><%= comment.username%>: </span><%= comment.content %></div></li>
    <% }) %>
</ul>