<% if (result.allowComment) {%>
    <form id="comment-form">
        <div id="comment-title">Comments</div><br />

        <input type="text" class="comment-input" autocomplete="off" placeholder="Your name" id="comment-username"><input type="text" class="comment-input" autocomplete="off" placeholder="Email(will not be public)" id="comment-email">
        <textarea id="comment-content" autocomplete="off" placeholder="Content"></textarea>
        <input type="submit" class="button" value="Comment it" id="comment-it">
        <input type="hidden" id="post-id" value="<%= result._id %>">
    </form>
<% } %>
<ul id="comment-list">

    <% result.comments.forEach(function(comment, i){ %>
    <li class="comment"><img class="comment-header" src="http://www.gravatar.com/avatar/<%= comment.header %>"><div class="comment-user"><%= comment.username%></div><div class="comment-content"><%= comment.content %></div></li>
    <% }) %>
</ul>