<div id="footer">
    <div id="footer-inner">
        <p>Designed by icymorn. Source on <a href="https://github.com/icymorn/xmorn-blog">xmorn-blog</a>.</p>
        <p><a href="https://github.com/icymorn" class="icon-github">github</a></p>
    </div>
</div>