<div id="footer">
    <div id="footer-inner">
        <p>Designed by icymorn. Source on <a href="https://github.com/icymorn/xmorn-blog">xmorn-blog</a>.</p>
        <p><span class="icon-github">github</span></p>
    </div>
</div>