<div id="nav">
    <% include login-menu.ejs %>
    <div id="nav-inner">
        <a href="/" id="logo">XMORN</a>
        <ul id="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/post/page/1">Post</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
</div>