<div id="nav">
    <div id="nav-inner">
        <div id="logo">XMORN</div>
        <ul id="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Post</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </div>
</div>