<form id="update-post" method="post" autocomplete="off">
    <div id="title-editor-wrap"><input type="text" id="update-title" placeholder="INPUT TITLE" name="title" value="<%= result.title %>"></div>
    <div id="content-editor" contenteditable="true"><%- result.content %></div>
    <input type="hidden" id="update-content" name="content">
    <select name="catalog">
        <option value="Life">Life</option>
        <option value="Work">Work</option>
        <option value="Other">Other</option>
    </select>
    <label for="allow-comment"><input id="allow-comment" type="checkbox" name="allowComment">Allow Comment</label>
    <input type="input" placeholder="tags" name="tags">
    <a id="submit-post">POST IT</a>
</form>