<form id="new-post" method="post">
    <div id="title-editor-wrap"><input type="text" id="new-title" placeholder="INPUT TITLE" name="new-title"></div>
    <div id="content-editor" contenteditable="true">CONTENT HERE</div>
    <input type="hidden" id="new-content" name="new-content">
    <a id="submit-post">POST IT</a>
</form>
