<form id="newost">
    <div id="title-editor-wrap"><input type="text" id="title-editor" placeholder="INPUT TITLE"></div>
    <div id="content-editor" contenteditable="true">CONTENT HERE</div>
    <a id="submit-post">POST IT</a>
</form>
