<form id="new-post" method="post" autocomplete="off">
    <div id="title-editor-wrap"><input type="text" id="new-title" placeholder="INPUT TITLE" name="title"></div>
    <div id="content-editor" contenteditable="true">CONTENT HERE</div>
    <input type="hidden" id="new-content" name="content">
    <div id="article-setting"><label for="catalog">Select a catalog:
            <select name="catalog" id="catalog">
                <option value="Life">Life</option>
                <option value="Work">Work</option>
                <option value="Other">Other</option>
            </select>
        </label><label for="tags">Input some tags:<input type="input" placeholder="tags" id="tags" name="tags"></label><label for="allow-comment"><input id="allow-comment" type="checkbox" checked name="allowComment"> Allow Comment</label><label for="private"><input id="private" type="checkbox" name="private"> Set as private</label></div>
    <input type="submit" id="submit-post" value="POST IT">
</form>
