<!DOCTYPE html>
<html>
<% include includes/header.ejs %>
<body>
<div id="wrap">
    <% include includes/nav.ejs %>
    <div id="container">
        <% include includes/article.ejs %>
    </div>
    <% include includes/footer.ejs %>
</div>
</body>
</html>