<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-9"/>
		<title>my blog</title>
		<link rel="stylesheet" type="text/css" href="/css/common.css">
	</head>
	<body>
		<div id="header">
			<h1><%= title %></h1>
		</div>
		<div id="nav">
			<span><a title="index" href="/">Home</a></span>
			<% if (!user) {%>
				<span><a title="login" href="/login">Login</a></span>
				<span><a title="register" href="/reg">Regester</a></span>
			<% }else{ %>
				<span><a title="logout" href="/logout">Logout</a></span>
				<span><a title="post" href="/post">Post</a></span>
			<% } %>
		</div>
		<div id="article">

			<% if (success) { %>
				<span><%= success %></span>
			<% } %>

			<% if (error) { %>
				<span><%= error %></span>
			<% } %>
<!-- 
		</div>
	</body>
</html> -->