<% include header %>
	<form method="post">
		<div class="form-control">
			<input type="text" placeholder="Title" autocomplete="off" name="title" />
		</div>
		<div class="form-control">
			<textarea name="content"></textarea>
		</div>
		<div class="form-control">
			<input type="submit" value="publish">
		</div>
	</form>
<% %>
