<%- include header %>
<form method="post">
    username:<input type="text" name="username"/><br />
    password:<input type="password" name="password"/><br />
    confirm:<input type="password" name="password-repeat"/><br />
    email:<input type="email" name="email"/><br />
    <input type="submit" value="register" />
</form>
<%- include footer %>