@import "./variables.scss";

$toolkit-height: 1.5em;
#article-toolkit {

  #article-toolkit-inner {
    width: $page-width;
    margin: 0 auto;
    line-height: $toolkit-height;
    height: $toolkit-height;
    border: solid #aaa;
    border-width: 0 0 1px;

    .toolkit-item {
      padding: 0 5px;
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      font-size: 0.9em;
      font-family: $paragraphs-font-stack;
      cursor: pointer;
      color: #444;

      &:hover {
        background: #eee;
        border-bottom: 1px solid #000;
        color: #666;
      }
    }
  }
}