@import "./variables.scss";

#article {
  width: $page-width;
  padding-top: 2em;
  margin: 0 auto 2em;
  font-family: $paragraphs-font-stack;
  font-size: 1.1em;
  box-sizing: border-box;

  ul {
    margin: 0 1em;
    padding-left: 40px;
  }

  p {
    line-height: 150%;
    margin-bottom: 1em;
  }

}

#title {
  font-size: 2em;
  line-height: 3em;
  font-family: $heading-font-stack;
  text-align: center;
  background: #eee;
}