@import "./variables.scss";
@import "./paginator.scss";
@import "./footer.scss";
@import "./article.scss";
@import "./posts.scss";
@import "./nav.scss";
@import "./login.scss";
@import "./flash.scss";
@import "./write.scss";
@import "./article-toolkit.scss";
@import "./update.scss";

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

body, html {
  height: 100%;
}

#wrap {
  min-height: 100%;
  position: relative;
}


#container {
  padding-bottom: $footer-height;
}
