@import "./variables.scss";

$comment-header-size: 50px;

#comment-list {
  width: $page-width / 3 * 2;
  left: 50%;
  position: relative;
  margin-left: - $page-width / 2;


  .comment {
    list-style: none;
    padding: 5px;

    .comment-header {
      border-radius: 50%;
      float: left;
      display: inline-block;
      width: $comment-header-size;
      height: $comment-header-size;
    }

    .comment-user {
      font-weight: bold;
    }

    .comment-content {
      margin-left: $comment-header-size + 10px;
    }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
}

#comment-form {
  width: $page-width;
  margin: 0 auto;
  #comment-title {
    font-family: $paragraphs-font-stack;
    padding: 5px;
    background-color: #ccc;
    margin-top: 10px;
    display: inline-block;
  }

  .comment-input {
    box-sizing: border-box;
    width: 100%;
    font-size: 0.9em;
    padding: 8px;
    border: none;
    background-color: transparent;
    margin: 3px 0;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;

    &:focus {
      border-bottom: solid 2px #969696;
      outline: none;
    }
  }

  textarea {
    width: 100%;
    font-size: 0.9em;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px #c9c9c9;
    height: 4em;
    &:focus {
      outline: none;
    }
  }
}