@import "./variables.scss";

#footer {
  height: $footer-height;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #555;
  line-height: $footer-height;
  text-align: center;

  #footer-inner {
    color: #919191;
    font-family: $paragraphs-font-stack;
    width: $page-width;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2em;
  }
}