@import "./variables.scss";

#paginator {
  margin: 0 auto 1em;
  font-size: 1em;
  font-family: $paragraphs-font-stack;
  text-align: center;

  #paginator-inner {
    display: inline-block;
    border: 1px solid #aaa;
    position: relative;
    background: #fcfcfc;
    a {
      display: inline-block;
      padding: 0.2em;
      text-decoration: none;
      color: #444;
      width: 1.5em;
      text-align: center;
      &.active {
        background: #9ebbff;
      }

    }
  }

}