@import "./variables.scss";


#posts {
  width: $page-width;
  margin: 0 auto 2em;
  padding-top: 2em;
  .post {
    list-style: none;
    background: #fff;
    border: 1px solid #eee;
    margin-bottom: 1em;

    .post-head {
      float: left;
      padding: 1em;
    }
    .post-title a{
      font-family: $heading-font-stack;
      text-decoration: none;
      color: #00B7FF;
      font-size: 1.4em;
      &:hover {
        text-decoration: underline;
      }
    }

    .post-time {
      font-family: $heading-font-stack;
      font-size: 0.9em;
    }

    .post-tail {
      float: right;
      padding: 1em;
    }

    &:hover {
      border: 1px solid #ccc;
      box-shadow: 0 0 5px #eee;
    }

    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
}