@import "./variables.scss";


#content-editor {
  width: $page-width;
  font-family: $heading-font-stack;

  margin: 1em auto;
  border: none;
  min-height: 500px;
  font-size: 1.3em;
  background-color: transparent;
  padding: 0.5em;
  color: #888;

  p {
    line-height: 150%;
    margin-bottom: 1em;
    text-indent: 2em;
  }

  &:focus {
    outline: 1px dashed #00B7FF;
  }
}

#title-editor-wrap {
  font-size: 2em;
  line-height: 3em;
  font-family: $heading-font-stack;
  text-align: center;
  background: #eee;


  #update-title {
    background: transparent;
    height: 100%;
    line-height: 3em;
    display: inline-block;
    font-size: 1em;
    width: 100%;
    text-align: center;
    border: none;
    vertical-align: middle;
    border-bottom: 1px dashed transparent;
    font-family: $heading-font-stack;

    &:focus {
      outline: none;
      border-bottom: 1px dashed #00B7FF;
    }
  }
}

#submit-post {
  width: $page-width * 0.3;
  display: block;
  height: 2em;
  font-size: 1em;
  line-height: 2em;
  border: solid;
  border-width: 1px 1px 2px;
  border-color: #ccc #ccc #444;
  background-color: #fff;
  text-align: center;
  margin: 0.5em auto;
}