$page-width: 850px;
$heading-font-stack: "Century Gothic", "Avant Garde Gothic", "Avant Garde", "URW Gothic L",	helvetica, sans-serif;
$paragraphs-font-stack: "Microsoft Yahei", "Lantinghei SC", serif;
$footer-height: 5em;
$nav-height: 3em;